/* Utilites */
.p-a-2 {
	padding: 2rem;
}

.p-y-4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

/* header */
header {
	background: olive;
}

.navbar {
	background-color: #ccc;
	color: black;
	font-size: 125%;
}

body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	background-color: olive;
}

h2 {
	text-align: center;
}

/* feature */
.welcome {
	text-align: center;
}

.info {
	font-size: .7em;
}

#feature {
	background-color: olive;
	font-size: 115%;
}

.col-md-8 {
	background: antiquewhite;
	border-radius: 10px;
}

/* thumbs */
#thumbnails {
	background-color: olive;
	font-size: 110%;
}

.right.carousel-control, .left.carousel-control {
	display: none;
}

.carousel-inner > .item > img {
	margin: 0 auto;
}

h3 {
	color: black;
}

.thumbnail {
	background: sandybrown;
}

.about {
	text-align: center;
}

.port {
	text-align: center;
}

.contact {
	text-align: center;
}

.personal {
	text-align: center;
}

/* highlights */
#about {
	background: antiquewhite;
	padding: 20px;
	border-radius: 5px;
	font-size: 110%;
}

/* portfolio */
#portfolio {
	padding: 60px;
	background: antiquewhite;
	border-radius: 5px;
	font-size: 110%;
}

/* contact me */
#contact {
	padding: 60px;
	background: antiquewhite;
	border-radius: 5px;
	font-size: 110%;
}

/* for fun */
#turning {
	padding: 60px;
	background: antiquewhite;
	border-radius: 5px;
	text-align: center;
	font-size: 110%;
}

.center-block {
	margin: 0 auto;
}

/* footer */
footer {
	background: #ccc;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html {
	display: flex;
}

body {
	width: 100%;
	background-color: olive;
}

@media only screen and (min-width: 991px) {

	.link1,
	.link2,
	.link3 {
		float: right;
	}

}

.fa-linkedin-square {
	font-size: xx-large;
}

.fa-github {
	font-size: xx-large;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

.warning {
	color: #ff0000;
}